{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header text-center bg-dark text-white" >
        <br/>
        <h2>{{ cus_record.first_name }} {{ cus_record.last_name }}</h2><br/>

    </div>
    <div class="card-body">
      <h2 class="card-title">CUSTOMER DETAILS: </h2><br/>
        <h5><strong >Created: </strong>{{ cus_record.created_at }}</h5><br/>
        <h5><strong >First name:</strong> {{ cus_record.first_name }}</h5><br/>
        <h5><strong >Last name:</strong> {{ cus_record.last_name }}</h5><br/>
        <h5><strong >Email:</strong> {{ cus_record.email }}</h5><br/>
        <h5><strong >Phone:</strong> {{ cus_record.phone }}</h5><br/>
        <h5><strong >Address:</strong> {{ cus_record.address }}</h5><br/>
        <h5><strong >City:</strong> {{ cus_record.city }}</h5><br/>
        <h5><strong >State:</strong> {{ cus_record.state }}</h5><br/>
        <h5><strong >Country:</strong> {{ cus_record.country }}</h5><br/>
        <h5><strong >Zip:</strong> {{ cus_record.zip }}</h5><br/>
        <!-- <h3>{{ cus_record.id }}</h3> -->
    </div>
  </div>
  <br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

  <a href="{% url 'delete_record' cus_record.id %}" class="btn btn-danger" colo>Delete</a>

  <a href="{% url 'update_record' cus_record.id %}" class="btn btn-primary" >Update Record</a>

{% endblock %}
